:root{--textcolor:#1b232e;--color1:#ca9f16;--main-font:'Bio Sans',sans-serif}
@keyframes MoveUpDown {
0%,100%{bottom:0}
50%{bottom:-20px}
}
@keyframes zoom {
50%{opacity:1;border-radius:0;transform:scale(1.3)}
}
.plus-icon.animate{animation:MoveUpDown 1s linear infinite;position:relative;left:0;bottom:0}
body{font-family:var(--main-font);color:var(--textcolor)}
img{max-width:100%}
video{width:100%;height:570px;object-fit:cover}
.video iframe{width:100%;height:490px;border:0}
.dont-show{display:none}
.number{font-size:78px;color:var(--color1);font-weight:700}
.number:after{content:"+";margin-left:5px}
.numbers label{font-size:21px;text-transform:uppercase;font-weight:400;margin-top:-23px}
.numbers{margin-top:-57px;float:left;width:90%;margin-left:10%}
header.header{padding-top:18px;padding-left:55px;padding-right:55px;position:absolute;background:#fff;z-index:999}
header .header-btns{float:right}
header .logo{float:left;width:111px;position:relative;z-index:9999}
.logo.fixed{position:fixed}
header{float:left;width:100%;padding-bottom:20px}
.header-btns .login a{color:var(--color1)}
.header-btns>div{float:left;margin-left:20px;padding:12px;font-size:14px;text-transform:uppercase}
.already+.login{margin-left:0;padding-left:0}
.header-btns>div.already{color:#455971;padding-right:4px;font-size:16px;display:block}
.header-btns .sign-up{background:#3a4b63;padding:12px 33px;border-radius:11px;transition:all .5s ease}
.header-btns .sign-up:hover a{text-decoration:none}
.header-btns .sign-up:hover{background:#466386}
.header-btns .sign-up a{color:#fff}
.container-fluid{padding:0!important}
.advImg{position:absolute;width:100%;z-index:-1;height:488px}
.double-sec{height:488px;position:relative;transition:all .5s ease}
.double-sec h2.sec-title{font-size:39px;text-transform:uppercase;color:#fff;margin:0;font-weight:400;float:left;margin-right:21px;width:100%}
.double-sec label{font-size:25px;text-transform:uppercase;color:#fff;font-weight:400;width:auto;margin:0;display:block;float:left;font-weight:lighter}
.plus-icon{font-size:24px;color:#ca9f18;border:3px solid #ca9f18;width:35px;height:35px;line-height:24px;text-align:center;margin-top:5px;font-weight:700;transition:all .5s ease;cursor:pointer;z-index:999}
.double-sec .plus-icon{float:left;position:absolute;top:-60px}
.adv-content p{opacity:0;margin-bottom:0;margin-bottom:8px}
.video{margin-top:13px;float:left;width:100%;height:570px;overflow:hidden}
.video>div{padding:0}
div#mainSec{padding-bottom:115px}
.double-sec .container .labels{margin-top:316px;float:left;z-index:99;position:relative}
.advImg img{height:100%;min-width:100%;object-fit:cover}
.data-show p{transform:translateY(40px) translateZ(0);transition:transform 1s cubic-bezier(.23,1,.32,1),opacity .2s;line-height:17px}
.adv-content{padding-top:20px;font-size:14px;float:left;width:700px;position:absolute;left:calc(563px + 28px);bottom:7px;transition:all .5s ease;max-width:100%;color:#fff}
.adv-content.data-show{z-index:99999}
#services .adv-content{bottom:335px}
.adv-content a{color:#ca9f19;font-size:20px;text-transform:uppercase;border-bottom:1px solid;text-decoration:none;opacity:0;display:inline-block;float:left;margin-top:60px;border:2px solid;border-radius:5px;width:300px;text-align:center;line-height:36px}
.sec.data-visible{background:rgba(32,40,50,1)}
div#about{padding-top:83px!important;position:relative;padding-bottom:100px!important}
#about h2.sec-title{color:var(--color1);text-transform:uppercase;font-size:36px;margin-bottom:23px;margin-top:0}
.btn.btn-primary{width:230px;border-radius:8px;height:42px;margin-top:18px;text-transform:uppercase;font-size:18px;text-align:center;background:#3a4b63;border:0;transition:all .5s ease}
button.btn.btn-primary a{color:#fff;text-decoration:none}
.signUp button.btn.btn-primary{width:464px;left:50%;position:relative;margin-left:-232px;top:20px;max-width:100%}
button.btn.btn-primary:hover{background:#466386}
.mobile{display:none}
.about-arrows{font-size:20px;float:left;margin-top:60px;bottom:90px;left:8%;width:565px;z-index:99}
.prev{float:left}
.next{float:right}
.about-arrows i{display:block;font-size:32px}
.about-arrows div{font-size:16px;line-height:39px;cursor:pointer;width:80px}
.about-arrows div.prev{margin-top:11px}
.next span,.prev span{font-size:20px;display:block;line-height:25px}
.prev span{line-height:0;font-size:20px}
.next span{width:100%;text-align:right}
.servicesImg{position:absolute;width:100%;z-index:-1;height:100%}
.servicesImg img{object-fit:cover}
.service{width:calc(100%/3);float:left;text-align:center;color:#fff;position:relative}
.service label{font-weight:400;opacity:1;transition:all .5s ease;width:100%;margin-top:26px;font-size:22px;font-weight:lighter}
.service label span{color:var(--color1)}
#services .labels{padding-top:356px;float:left;font-weight:300}
#services h2.sec-title{font-size:47px;text-transform:uppercase;color:#fff;margin:0;font-weight:300;float:left;margin-right:21px}
#services .labels label{font-size:25px;text-transform:uppercase;color:#fff;font-weight:300;width:100%;margin:0}
#services .plus-icon{float:left;z-index:9;position:relative;margin-top:12px}
.services-icons{width:100%;float:left;padding-top:204px;margin-bottom:58px;z-index:9;position:relative}
div#contact{margin-top:118px;color:#3a4b63;padding-bottom:60px}
#contact h4.sec-title{text-align:center;text-transform:uppercase;color:#3a4b63;font-size:28px;margin-bottom:0}
#contact .slogan{color:var(--color1);text-align:center;text-transform:uppercase;font-size:53px;margin-bottom:76px}
.support{padding-left:50px}
.join h6,.support h6{font-size:23px;font-weight:300}
.support{border-left:3px solid;margin-bottom:60px}
button.btn.btn-secondary{width:230px;border-radius:8px;height:42px;margin-top:44px;text-transform:uppercase;font-size:18px;text-align:center;background:var(--color1);border:0;color:#fff}
#contact button.btn.btn-secondary{margin-top:54px!important;transition:all .5s ease}
button.btn.btn-secondary:hover{background:#ecb508}
.footer-nav{float:left;width:100%}
.footer-nav ul{padding-left:0;text-align:center;font-size:13px}
.footer-nav li{list-style:none;display:inline}
.footer-nav li:after{content:"|";padding:0 5px}
.footer-nav li:last-of-type:after{display:none}
footer.footer{background:#1b232e;height:100px;margin-top:40px;padding-top:30px;text-align:center;color:#a5a5a5;padding-bottom:30px;height:108px;font-size:13px}
footer.footer a{color:#a5a5a5}
.serviceSquare{width:12px;height:12px;background:var(--color1);position:absolute;left:50%;margin-left:-7px;top:50%;margin-top:-7px;cursor:pointer;display:block;z-index:9;animation:zoom 2s linear infinite}
.service-img{opacity:1;transition:all .5s ease}
.serviceSquare:hover+.service-img{opacity:1}
.serviceSquare:hover{opacity:0}
.serviceSquare:hover~label{opacity:1}
@-moz-keyframes spin {
100%{-moz-transform:rotate(360deg)}
}
@-webkit-keyframes spin {
100%{-webkit-transform:rotate(360deg)}
}
@keyframes spin {
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.double-sec .plus-icon:hover{-moz-animation:spin 4s linear infinite}
.desktop-nav ul{list-style:none;position:absolute;top:-40%;opacity:0;transition:all .5s ease;left:-30px;height:100%;background:#fff;height:100vh;padding-top:29vh;box-shadow:1px 19px 48px 1px #888}
.desktop-nav li{height:60px}
.desktop-nav li a{color:#1b232e;font-size:25px;transition:all .5s ease}
.desktop-nav li a.current-sec{text-decoration:none;color:var(--color1)}
.desktop-nav{position:fixed;top:40%;height:100%;width:50px;z-index:999;left:0}
.desktop-nav .close{opacity:0;width:69px;transition:transform .5s ease;transform:rotate(-45deg);position:absolute;top:0;left:30px}
.desktop-nav li a:hover{color:var(--color1);text-decoration:none}
.desktop-nav .open{position:absolute;z-index:999;cursor:pointer;transition:transform .5s ease;left:30px;top:0;width:50px}
.desktop-nav.open-nav ul{opacity:1;left:0;padding-left:130px;padding-right:50px;width:390px}
.desktop-nav.open-nav .open{opacity:0;transform:rotate(45deg)}
.desktop-nav.open-nav .close{opacity:1;transform:rotate(0deg);z-index:999}
div#main-content{padding-top:90px;overflow:hidden}
div#services{position:relative;height:846px}
.about-arrows .prev div{transform:rotate(180deg);padding-right:0;margin-top:18px}
.data-visible .plus-icon{display:none}
.close-icon{color:#fff;font-size:21px;font-weight:300;border:3px solid;width:35px;height:35px;text-align:center;line-height:21px;cursor:pointer;opacity:0}
.nav-footer{position:absolute;top:85vh;width:100%;left:0;text-align:center}
.nav-footer a{color:var(--color1)}
.mobile-nav{display:none}
.contact-form{position:absolute;top:0;background:#fff;width:100%;height:100%;display:none}
.contact-form .close{opacity:1;font-weight:400;color:#364b65;font-size:29px;margin-right:11%;z-index:9;position:relative;margin-bottom:8px}
.contact-form input{width:90%;border:3px solid #364b65;height:50px!important;border-radius:12px;padding:10px;margin-bottom:20px;margin-top:10px;font-size:20px;position:relative!important;opacity:1!important}
.contact-form textarea{width:90%;border:3px solid #314b67;border-radius:12px;height:120px;padding:10px;font-size:20px}
#contact .contact-form button.btn.btn-secondary{width:90%;margin-top:20px!important}
.contact-form a{color:#2a4b69;width:90%;display:block;text-align:center;margin-top:20px;font-size:24px}
.contact-form textarea:focus,.contact-form input:focus{outline:none}
button:focus{outline:none}
.servicesImg img{height:871px;min-width:100%}
.desktop{display:block}
.signup-title{text-align:center;color:#151515}
.signup-cont{width:50%;margin:auto}
.signup-cont .row{margin-left:0;margin-right:0}
h2.header2{display:none}
.head2 h2.header1{display:none}
.head2 h2.header2{display:block}
.data-show>*{opacity:0;animation:type 1s steps(60,end) forwards}
.data-show>:nth-child(1){animation-delay:0}
.data-show>:nth-child(2){animation-delay:.1s}
.data-show>:nth-child(3){animation-delay:.2s}
.data-show>:nth-child(4){animation-delay:.3s}
.data-show>:nth-child(5){animation-delay:.4s}
.data-show>:nth-child(6){animation-delay:.5s}
.data-show>:nth-child(7){animation-delay:.6s}
.data-show>:nth-child(8){animation-delay:.7s}
.data-show>:nth-child(9){animation-delay:.8s}
.data-show>:nth-child(10){animation-delay:.9s}
.data-show>:nth-child(12){animation-delay:1s}
@keyframes type {
0%{opacity:0}
100%{opacity:1}
}
div#partner{text-align:center;color:#fff}
#partner h2.sec-title{font-family:var(--main-font);font-size:50px;margin-top:50px;margin-bottom:50px;font-weight:lighter}
.service-details .detail.show{left:0;opacity:1;height:100%;z-index:999}
div#partner p{font-size:14px;line-height:26px;padding:0 160px;font-weight:lighter}
div#partner p.sp{color:var(--color1);margin-bottom:0}
div#partner p.sp:nth-of-type(3){margin-bottom:20px}
.service-details .detail{position:relative;left:-100vw;display:none;transition:all .5s ease}
.detail.show .close-icon{opacity:1;position:relative;left:50%;margin-left:-20px;margin-top:30px;line-height:24px}
.detail .service{width:100%}
.service-details{position:absolute;left:0;top:0;text-align:center;height:100%;padding-top:220px}
.serv-bg.show{background:#3a4b63;width:100%;height:846px;position:absolute;z-index:99}
div#goals{background:#3a4b63;color:#fff;text-align:center;padding:50px 0!important}
#goals p{font-size:14px;font-weight:lighter;padding:0 150px}
#goals h2.sec-title{color:var(--color1);font-size:36px;margin-bottom:23px;font-weight:lighter}
.about_sec h5,.about_sec h6{color:var(--color1);font-weight:400;background-color:#fff}
.about_sec h6{font-size:14px;font-weight:lighter}
.about_sec{font-weight:lighter}
.about_sec p{font-size:14px}
.about_sec h5{font-size:16px}
@media screen and (max-width: 992px) {
i.fas.fa-envelope.mobile{display:inline;margin-right:10px}
#goals p{padding:0;font-size:14px}
#partner .container{height:100%}
div#partner p{padding:0 15px;font-size:14px}
div#partner{position:relative;height:900px}
div#partner button.btn.btn-secondary{width:100%}
#partner h2.sec-title{margin-top:30px;margin-bottom:30px;font-size:36px}
.wrapper.container-fluid{overflow:scroll}
body{overflow:hidden}
body#sign{overflow:scroll}
#services .plus-icon{margin-top:5px}
.signup-title h1{font-size:26px}
.signup-title h2{font-size:18px}
.signUp button.btn.btn-primary{left:0;margin-left:0}
.desktop{display:none}
#services h2.sec-title{font-size:39px}
.about_sec{font-size:16px}
.about-arrows{margin-bottom:40px;width:90%!important;bottom:-20px;left:5%!important;z-index:0}
header.header{position:fixed;box-shadow:1px -1px 28px 1px #888}
.about_sec button.btn.btn-primary{width:100%;height:50px}
.next span{padding-right:0;font-size:20px}
.about-arrows div{padding-right:0;width:60px;line-height:20px}
.video{height:100vw}
div#contact{margin-top:0;padding-bottom:0}
div#contact.contact-open{padding-bottom:150px}
.contact-form{top:-78px;height:315px;left:0;padding-left:10%}
#contact button.btn.btn-primary{margin-top:30px;width:100%}
#contact button.btn.btn-secondary{margin-top:20px!important;width:100%}
#contact .contact-form button.btn.btn-secondary{margin-top:5px!important}
.contact-form a{margin-top:6px;font-size:19px}
.contact-form textarea{height:90px;border:2px solid}
.contact-form input{margin-bottom:8px;border:2px solid}
button#contactForm img{width:23px;margin-right:10px;margin-top:-3px;display:inline-block}
.servicesImg img{height:auto}
.servicesImg{overflow:hidden}
div#services{height:570px}
div#services .container{height:100%}
.numbers>div.number-turn{opacity:1}
.mobile-nav-footer{background:url(../img/mobileNav.png);background-size:cover;color:#fff;font-size:24px;padding:30px 20px 70px}
.mobile-nav .mobile-nav-footer a{color:var(--color1);font-size:20px;line-height:20px}
.header-btns{display:none}
.header-btns.sign{display:block;width:50%;text-align:right}
.header-btns>div.already{font-size:13px;margin:0;float:right;padding-bottom:0;padding-left:0}
.already+.login{float:right;padding-top:0;padding-bottom:0}
.mobile-nav{float:right}
.mobile-nav.open-nav .open{opacity:0;z-index:0}
.mobile-nav.open-nav .close{opacity:1;transform:rotate(0deg)}
.mobile-nav .open{cursor:pointer;transition:transform .5s ease;z-index:999;position:relative}
.mobile-nav .close{opacity:0;transition:transform .5s ease;transform:rotate(-45deg);position:absolute;top:15px;width:50px}
.mobile-nav ul{list-style:none;position:absolute;transition:all .5s ease;right:0;background:#fff;height:0;width:100vw;opacity:0;padding-top:20px;font-size:30px;padding-left:0;overflow:hidden}
.mobile-nav ul li{padding-left:20px}
.mobile-nav ul a{color:#1b232e;font-size:29px;transition:all .5s ease;line-height:63px}
.adv-content{width:100%!important;left:0!important;height:0;overflow:hidden;z-index:9;font-size:16px}
.data-show{top:80px;height:calc(100% - 80px);padding:10px;background:#303b45;position:fixed;overflow:scroll;padding-bottom:30px;z-index:999}
div#mainSec{padding-left:0;padding-right:0;margin-left:0;margin-right:0;width:100%;padding-bottom:40px}
div#main-content{padding-top:80px}
.video>div{padding:0}
.desktop-nav{display:none}
.about-img{display:none}
#services .labels{padding-left:10px;padding-top:0;position:absolute;bottom:220px}
#services .row{margin:0}
.support{border:0;margin-bottom:0}
#contact h4.sec-title{text-align:left;margin-top:20px}
#contact .slogan{text-align:left;font-size:27px;margin-bottom:0}
.join,.support{padding-left:0}
.join .btn.btn-primary{width:100%}
.join h6,.support h6{display:none}
.join p,.support p{display:none}
header.header{max-width:100%;padding:15.5px 20px}
header .logo{width:100px}
.service-img{opacity:1;height:70px}
.service-img img{width:77px}
.serviceSquare{display:none}
.service label{opacity:1;font-size:16px}
.detail .service label{font-size:20px}
.numbers{margin-left:0}
.services-icons{width:100%;padding-top:0;position:absolute;bottom:50px;left:0}
.service{width:calc(100%/3)}
.service:nth-of-type(4),.service:nth-of-type(5){display:none}
.services-icons{width:100%;bottom:0}
.service{width:calc(100%/3)}
.service:nth-of-type(4),.service:nth-of-type(5){display:none}
.advImg{height:100%;width:100%}
.double-sec .container .labels{padding-left:10px;padding-top:0;position:absolute;bottom:80px}
.double-sec .container .labels.mobile{position:relative;bottom:auto;margin-top:40px;padding-left:0}
.adv-content a{width:100%}
.advImg img{width:auto;object-fit:cover}
.double-sec{overflow:hidden}
.double-sec .container{height:100%}
div#about{padding-top:20px!important;padding-bottom:0!important}
.double-sec h2.sec-title{width:100%;font-size:34px}
.double-sec label{font-size:23px}
.double-sec .plus-icon{top:auto;bottom:-39px}
.numbers>div{position:absolute;opacity:0;transition:all .5s ease}
.open-nav.mobile-nav ul{opacity:1;height:100vh;overflow:scroll;padding-bottom:40px}
li.login-nav a{color:var(--color1)}
.video{margin-top:0}
.video video{min-width:100%;min-height:100%;object-fit:cover;height:100vw}
.mobile{display:block}
.mobile.about-img{margin-top:30px}
button.mobile.btn.btn-primary.main-btn{left:25px;position:absolute;display:inline-block;bottom:3%;width:calc(100% - 50px);height:50px}
.mobile-nav{display:block}
.mobile-nav-footer .btn{width:100%;height:45px;font-size:19px;color:var(--color1);background:0 0;border:3px solid;margin:20px 0}
}
@media screen and (max-width:767px) {
.servicesImg img{height:100%}
}
@media screen and (min-width:1400px) {
#goals h2.sec-title{font-size:50px}
#goals p{font-size:16px;line-height:25px}
.signup-title h1{font-size:50px;font-weight:200}
.signup-title h2{font-size:24px;font-weight:200}
.desktop-nav li a{font-size:30px;font-weight:200}
.nav-footer{font-size:24px}
.number{font-size:80px}
.numbers label{font-size:30px}
.numbers{margin-top:-80px}
header .logo{width:160px}
.header-btns .login a{font-size:18px}
.header-btns .sign-up a{font-size:18px}
div#mainSec{margin-top:50px;padding-bottom:145px}
.double-sec label{font-size:30px}
.double-sec h2.sec-title{font-size:50px}
.plus-icon{width:40px;height:40px;border:4px solid;font-size:29px;line-height:27px;margin-top:12px;z-index:999}
#services .plus-icon{margin-top:20px}
.close-icon{width:40px;height:40px;font-size:29px;line-height:30px}
#about h2.sec-title{font-size:50px}
.about_sec{font-size:16px;line-height:23px;margin-right:40px}
.about-arrows{bottom:84px}
.btn.btn-primary{font-size:24px;height:50px;width:250px}
.next span,.prev span{font-size:20px}
#services h2.sec-title{font-size:60px}
#services .labels label{font-size:30px}
#contact h4.sec-title{font-size:34px}
#contact .slogan{font-size:60px}
.join h6,.support h6{font-size:30px}
#contact p{font-size:16px}
button.btn.btn-secondary{font-size:24px;height:50px;width:250px}
#contact button.btn.btn-secondary{margin-top:84px!important}
.adv-content{bottom:5px}
}
form::-webkit-input-placeholder{color:#5f5f5f;font-size:15px}
form::-moz-placeholder{color:#5f5f5f;font-size:15px}
form:-ms-input-placeholder{color:#5f5f5f;font-size:15px}
form:-moz-placeholder{color:#5f5f5f;font-size:15px}
section{padding:0 18px;margin:auto;position:relative;width:500px;max-width:100%}
section.steps{height:100px;margin-top:70px;text-align:center}
form{width:100%;border-radius:0}
form[disabled]{opacity:.4}
form label{width:100%;height:auto;display:block;margin-bottom:4px;font-size:15px;overflow:hidden;position:relative}
form label.show .error{height:25px;line-height:25px;opacity:1}
form label input{width:100%;padding:0 11px;border:1px solid #5f5f5f;box-sizing:border-box;height:48px;background-color:rgba(255,255,255,.5);border-radius:0;outline:0;outline:none;color:#5f5f5f;margin-bottom:3px;transition:all .5s ease}
form label input:not([disabled]):hover{border:1px solid #364b65;box-shadow:0 0 5px 0 #364b65}
form label input:focus{background-color:rgba(54,75,101,.16)}
form button[type=submit]{border:none;background-color:#1d715a;border-radius:0;width:100%;height:50px;margin-top:5px;color:#fff;text-align:center;padding:0;text-transform:uppercase;font-weight:700;letter-spacing:1px;font-size:18px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-ms-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;outline:0;outline:none}
form label .error,form label .server-error{height:0;color:#ec1717;font-size:15px;-webkit-transition:height .3s ease-out;-moz-transition:height .3s ease-out;-ms-transition:height .3s ease-out;-o-transition:height .3s ease-out;transition:height .3s ease-out;opacity:0}
form label.show .error{height:25px;line-height:25px}
form label.show-servererror .error{display:none}
form label.show-servererror .server-error{height:25px;line-height:25px}
form label input.notValid{border:2px solid #b84e5c}
.msg-overlay{width:100%;height:100%;background:rgba(0,0,0,.77);z-index:9;position:absolute}
span.msg-title{font-size:23px;margin-top:14px;display:block;margin-bottom:10px}
label.field-title{font-size:14px;color:#5f5f5f}
.msg-icon{position:absolute;top:0;left:0;height:45px;width:45px;background-color:#fff;border:2px solid #24885c;display:block;border-radius:50%;position:relative;margin:auto}
.msg-icon:after{content:"";left:16px;top:7px;width:9px;height:23px;border:solid #24885c;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);display:block;position:absolute}
.msg-overlay{width:100%;height:100%;background:rgba(0,0,0,.77);z-index:9;position:absolute}
.msg-cont{text-align:center;border:1px solid #25875b;padding:13px;z-index:10;position:relative;background:#fff}
.step{width:50%;display:inline-block;position:relative;transform:rotateZ(-45deg);width:40px;height:40px;margin:auto;border:2px solid #1b232e;text-align:center;line-height:33px;font-size:25px;color:#1b232e;margin-bottom:10px;margin-right:40px}
.msg-overlay{display:none}
body.overlay .msg-overlay{display:block}
.other{width:90%;padding:0 11px;border:1px solid #363636;box-sizing:border-box;height:48px;background-color:rgba(255,255,255,.5);border-radius:0;outline:0;outline:none;color:#363636;margin-bottom:3px}
.checkbox-list{width:100%;float:left;position:relative;margin-bottom:5px}
.step-number{transform:rotateZ(45deg)}
.step-label{text-align:center}
.step-two{display:none}
.active.step{background:#1b232e;color:#fff}
.two-active .step-one{display:none}
.two-active .step-two{display:block}
#message{position:absolute;top:90px;left:0;width:100%;height:132px;background-color:rgba(255,255,255,.98);margin:auto;box-shadow:0 0 10px 0 rgba(0,0,0,.86);padding:11px;display:none;box-sizing:border-box;z-index:10}
#message .close{position:absolute;right:4px;top:-3px;padding:2px;display:inline-block;font-size:29px;line-height:1;cursor:pointer}
.loading{background-image:url(../img/loading.gif);background-repeat:no-repeat;width:36px;height:36px;position:absolute;right:-4px;top:16px;opacity:.6;display:none}
.inline-loading{background-image:url(../img/loading.gif);background-repeat:no-repeat;width:16px;height:16px;opacity:.6;display:inline-block;margin-left:8px}
.signup-status.success{color:#155f4b}
.signup-status.failure{color:#ff154b}
.container{display:block;position:relative;padding-left:25px;margin-bottom:12px;cursor:pointer;font-size:13px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.container input{position:absolute;opacity:0;cursor:pointer;height:0}
.checkmark{position:absolute;top:13px;left:4px;height:15px;width:15px;background-color:#fff;border:1px solid #363636;z-index:99}
.checkmark:after{content:"";position:absolute;display:none}
.container input:checked~.checkmark:after{display:block}
.container .checkmark:after{left:4px;top:0;width:6px;height:11px;border:solid #18232f;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.success-msg{display:none}
.placeholder{width:100%;padding:0 11px;border:1px solid #5f5f5f;box-sizing:border-box;height:48px;background-color:rgba(255,255,255,.5);border-radius:0;outline:0;outline:none;color:#5f5f5f;margin-bottom:3px;transition:all .5s ease;line-height:45px;cursor:pointer}
.signUp textarea{width:100%;padding:0 11px;border:1px solid #5f5f5f;box-sizing:border-box;height:100px;background-color:rgba(255,255,255,.5);border-radius:0;outline:0;outline:none;color:#5f5f5f;margin-bottom:3px;transition:all .5s ease;margin-top:10px}
.placeholder:after{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:10px solid #060606;display:block;content:"";right:10px;position:absolute;top:43px}
.options{position:absolute;background:#fff;z-index:9;width:464px;border:1px solid #364b65;border-top:0;box-shadow:0 0 5px 0 #364b65;padding:10px;height:0;transition:height .9s ease;max-width:100%;visibility:hidden}
.options .container:hover{background:#a8b2bf}
.options .container{padding:10px 5px;margin:0;padding-left:23px}
.open .options{height:200px;opacity:1;visibility:visible;overflow:scroll}
@media screen and (min-width:992px) and (max-width:1440px) {
.video{height:480px}
video{height:480px}
}